#instructions {
    position: relative;
    margin-top: 80px;
    /* text-align: center; */
    margin-left: 180px;
    font-size: 25pt;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: black;
    /* -webkit-text-stroke-color: black; */
} 

#userInput {
    position: relative;
    display: block;
    margin: 0 auto;
}

button {
    position: relative;
    display: block;
    margin-left: 450px;
    margin-top: -21px; 
}

#p1 {
    position: relative;
    color: rgb(68, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 267px;
}
#p2 {
    position: relative;
    color: rgb(71, 34, 139);
    font-weight: bolder;
    margin-left: 267px;
}

body {
    background-color: #DCDBE2;
}