#userInput {
    position: relative;
    margin-top: 100px;
    margin-left: 280px;
}

#rock {
    width: 100px;
    height: 30px;
}
#paper {
    width: 100px;
    height: 30px;
}
#scissors {
    width: 100px;
    height: 30px;
}